body,html{
	width: 100%;
	height: 100%;
	background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Courgette', cursive;

}
h1{
	color: white;
}
hr{
	border-color: red;
	border-width: 5px;
	max-width: 65px;

}

.btn{
	
	border-radius: 300px;
}
.btn-warning{
	background-color: white;
	border-color: white;
	padding: 7px 8px;
}
.btn-warning:hover{
	background-color:#669999;
	border-color:#669999 ;
}
.buffer{
	height: 1rem;
}
